<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>InstaDine</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="wrapper">
			<div class="bg">
				<img src="/Frontend/Assets/hero-bg.jpg" alt="" />
			</div>
			<div class="navbar">
				<div class="site_name">
					<p>InstaDine</p>
				</div>
				<div class="nav_items">
					<div class="login">
						<img id="profile" src="/Frontend/Assets/profile-icon.png" alt="" />
						<a href="">Login</a>
					</div>
					<div class="search">
						<img id="search" src="/Frontend/Assets/search-btn.png" alt="" />
					</div>
					<div class="menu">
						<img src="/Frontend/Assets/menu.png" alt="" />
					</div>
				</div>
			</div>
			<div class="content">
				<div class="purpuse">
					<p>Discover restaurant and food</p>
					<h3>You get Best restaurant here</h3>
					<br />
				</div>
				<div class="search">
					<form method="get" action="/get">
						<input
							placeholder="Search Hotel"
							type="text"
							name="Search Hostel"
							id="search"
						/>
						<input
							placeholder="All Locations"
							type="text"
							name="All Locations"
							id="Location"
						/>
					</form>
					<div class="btn">
						<p>Search</p>
					</div>
				</div>
			</div>
			<div class="best">
				<div class="heading2">
					<p>Our Best Popular Restaurant</p>
					<br />
				</div>

				<div class="hotels">
					<img src="/Frontend/Assets/restaurant img 1.jpg" alt="" />
					<img src="/Frontend/Assets/restaurant img 2.jpg" alt="" />
					<img src="/Frontend/Assets/restaurant img 3.jpg" alt="" />
				</div>
				<div class="htlsnames">
					<p id="hotel_1">The Spice Route</p>
					<p id="hotel_2">Bukhara</p>
					<p id="hotel_3">Indian Accent</p>
				</div>
				<div class="order">
					<div class="button">
						<p>Order Now</p>
					</div>
				</div>
			</div>
			<div class="Delicious">
				<div class="heading4">
					<p>Delcious Food</p>
				</div>
				<div class="food">
					<img src="/Frontend/Assets/r1.jpg" alt="" />
					<img src="/Frontend/Assets/r2.jpg" alt="qsvwv" />
					<img src="/Frontend/Assets/r3 (1).jpg" alt="" />
				</div>
				<div class="names">
					<p>Breakfast</p>
					<p>Lunch</p>
					<p>Dinner</p>
				</div>
			</div>
			<div class="aboutus">
				<div class="heading5">
					<p>About Us</p>
				</div>
				<div class="aboutimg">
					<img src="/Frontend/Assets/about-img.jpg" alt="" />
				</div>
				<div class="about_details">
					<p>
						Welcome to our innovative SaaS platform dedicated to enhancing the
						dining experience for both customers and restaurant owners.
						Empowering restaurants with comprehensive analytics, we streamline
						operations while providing customers the convenience of online
						ordering, reducing wait times and overcrowding. Our mission is to
						revolutionize the dining industry by fostering efficiency and
						satisfaction for all stakeholders. Join us in shaping the future of
						dining.
					</p>
				</div>
			</div>
			<div class="Latestdisc">
				<div class="heading6">
					<p>Trending Offers</p>
				</div>
				<div class="couponsimg">
					<img src="/Frontend/Assets/Disocunt-1.png" alt="" />
					<img src="/Frontend/Assets/Discount-2.png" alt="" id="disc-1" />
				</div>
				<div class="coupons_details">
					<p id="cpn_1">
						If you done 10 Orders from our site you get instant 10% off from our
						site
					</p>
					<p id="cpn_2">If this is you First Order yo get 50% off from Order</p>
				</div>
			</div>
			<footer>
				<div class="footer_bg">
					<img src="/Frontend/Assets/footer-bg.png" alt="" />
					<div class="footer_tabs">
						<a href="">Home</a>
						<a href="">Restaurants</a>
						<a href="">About us</a>
						<a href="">Feedback</a>
					</div>
					<div class="footer_details">
						<p>© 2024 InstaDine All Rights Reserved</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
