*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: absolute;
    /* top: 1em; */
    /* left: 9.5em; */
    margin: auto;
    display: flex;
    height: 5em;
    width: 100vw;
    background-color: rgba(72, 85, 254, 0.95);
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50em;
    font-family: 'Times New Roman', Times, serif;
}

.site_name {
    width: 5em;
    font-size: 2em;
    font-weight: 5000;
    cursor: pointer;
}

.nav_items {
    display: flex;
    gap: 2em;
    height: 5em;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    width: 7em;
    font-size: 1.2em;
    cursor: pointer;
}

.login a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#profile img {
    height: 5em;
}

.nav_items img {
    cursor: pointer;
    height: 3em;
}
.menu img{
    height: 1.5em;
}
.hotel_img1