<!DOCTYPE html>
<html>
	<head>
		<title>Restaurant List</title>
	</head>
	<body>
		<h1>Restaurant List</h1>
		<ul>
			<% restaurants.forEach(function(restaurant) { %>
			<li><%= restaurant.name %></li>
			<% }); %>
		</ul>
	</body>
</html>
